.ui.form {
	height: 250px;
	margin-top: 20px;
}

.ui.title-bar {
	h1 {
		margin-bottom: 0;
	}
	h5 {
		margin-top: 0;
	}
}

.ui.comments {
	.comment {
		//box-sizing: border-box;
		background-color: #f2f2f2;
		margin: 30px;
		padding: 20px;
		& >.avatar~.content {
			margin-left: 0;
			margin-top: 1em;
		}
		.avatar {
			float: right;
			text-align: center;
			margin-top: 1em;
			.score {
				font-size: 1.2em;
				font-weight: bold;
				border-radius: 100%;
				background: #dfdfdf;
			}
			i {
				cursor: pointer;
				display: inline-block;
				font-size: 1.2em;
				&:hover {
					color: #dfdfdf;
				}
			}
		}
		.metadata {
			margin-left: 0;
		}
	}
}

ul.threadlist {
	display: block;
	margin: 50px auto;
	list-style-type: none;
	margin-bottom: 100px;
	li.thread {
		//box-sizing: border-box;
		height: 150px;
		max-height: 20%;
		text-align: left;
		background: #f3f3f3;
		margin: 10px;
		position: relative;
		padding-right: 0;

		&:hover {
			background: #dfdfdf;
			a h2{
				&:hover {
					color: #fff;
				}
			}
		}

		div.center {
			margin: 0 auto;
		}
		h2 {
			font-size: 3em;
			line-height: 0.8;
			margin-bottom: 5px;
		}
		p.description {
			font-size: 1.1em;
			line-height: 1.2;
		}
		p.username {
			margin-left: 2px;
			span {
				font-weight: bold;
			}
		}
		.info-spot {
			display: inline-block;
			height: 100%;
			position: relative;
			padding: 0;
			// border-left: 1px solid #fff;
			// border-right: 1px solid #fff;


			&:nth-child(1n) {
				border-right: 1px solid #ddd;
			}
			h4 {
				position: absolute;
				bottom: 50%;
				//padding-top: 22%;
				//border: 2px solid #000;
				//border-bottom: 1px solid #fff;
				vertical-align: middle;
				text-align: center;
				margin: 0;
				box-sizing: border-box;
				width: 100%;
				//margin-left: 10px;
				margin-right: 10px;
			}
			span {
				box-sizing: border-box;
				width: 100%;
				//margin-left: 10px;
				margin-right: 10px;
				display: block;
				position: absolute;
				top: 50%;
				text-align: center;
			}
		}
	}
}