<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->

      <ul class="threadlist">
        <li ng-repeat="thread in threads.results">          
          <div class="col-md-8 center row">
            <div class="col-md-12">
              <a href="#/threads/{{ thread.slug }}"><h2>{{ thread.title }}</h2></a>
              <p>{{ thread.username }}</p>
            </div>
            <div class="col-md-6">
            <span>Replies: {{ thread.num_replies }} </span>
            </div>
            <div class="col-md-6">
            <span>Last Updated: {{ thread.modified | date }}</span>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>