<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="">
        <li ng-repeat="thread in threads | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          
          <h4>{{ thread.title }}</h4>
          <p>{{ thread.username }}</p>
        </li>
      </ul>

    </div>
  </div>
</div>