<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <form class="new-thread-form">
        <fieldset>
        <legend>Start a new thread</legend>
          <span class="error">{{ errorMsg }}</span>
          <div class="col-md-12">
            <label for="title">Title</label> <input id="title-input" type="text" ng-model="threadForm.title">
          </div>
          <div class="col-md-12">
            <label for="username">Username</label><input id="username-input" type="text" ng-model="threadForm.username">
          </div>
          <div class="col-md-12">
            <label for="username">Description</label>
            <input id="description-input" type="textarea" ng-model="threadForm.description">
          </div>
          <button ng-click="createThread(threadForm)">Post!</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <!--Body content-->

      <ul class="threadlist">
        <li ng-repeat="thread in threads.results | orderBy: thread.modified | orderBy: thread.num_replies" class="thread col-md-12 center row">          
            <div class="col-md-8">
              <a href="#/{{ thread.slug }}"><h2>{{ thread.title }}</h2></a>
              <p>by {{ thread.username }}</p>
            </div>
            <div class="col-md-2 info-spot">
            <h4>Replies:</h4><span>{{ thread.num_replies }}</span>
            </div>
            <div class="col-md-2 info-spot time">
            <h4>Last Updated:</h4><span>By {{ thread.comments[thread.comments.length-1].username }} at {{ thread.modified | date:'dd-MM-yyyy h:mma' }}<span>
            </div>
        </li>
      </ul>

    </div>
  </div>
</div>