<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <form class="new-comment-form">
        <fieldset>
        <legend>Post a new comment</legend>
          <span class="error">{{ errorMsg }}</span>
          <div class="col-md-12">
            <label for="username">Username</label><input id="username-input" type="text" ng-model="commentForm.username">
          </div>
          <div class="col-md-12">
            <label for="username">Message</label>
            <textarea id="description-input" type="textarea" ng-model="commentForm.content" />
          </div>
          <button ng-click="createComment(commentForm)">Post!</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10" style="margin-top: 20px;">
      <!--Body content-->
        <div class="ui">
          <h1>{{ thread.title }}</h1>
          <h2>{{ thread.username }}</h2>
          <p>{{ thread.description }}</p>
        </div>
      <div class="ui comments">
        <div ng-repeat="comment in comments | orderBy: -comment.score">          
          <div class="col-md-10 col-md-offset-1 row">
            <div class="col-md-12 ui comment segment">
              <div class="avatar">
                <div class="score">{{ comment.score }}</div>
                <i class="plus icon" ng-click="scorePlus(comment)"/>
                <i class="minus icon" ng-click="scoreMinus(comment) "/>
              </div>
              <div class="content">
                <div class="author">{{ comment.username }}</div>
                <div class="metadata">
                  <span class="date">{{ comment.created | date: "MMM d YY" }}</span>
                </div>
                <div class="text">{{ comment.content }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>